<div class="row">

  <form action="">
  <div class="content" align="center">
    <div class="col-sm-8">
      <h1><img style="text-align: center; margin-top: 50px; margin-bottom: 50px"align="center" src="/assets/recepcion.png" alt="recepcion" height="100" width="100">&nbsp;RECEPCION DE HOTEL</h1>
      </div>
    </div>
<div class="textoprincipal" align="center">
    <h4 >Reservar con nosotros es simple y fácil. Sólo complete el formulario de reserva aquí debajo y le enviaremos un email con el itinerario
      <br> y los detalles de pago.
      Por favor, no olvide que debe efectuar el pago de su reserva dentro de las 24 horas de realizada la misma. </h4>

</div>
    <br>
    <br>

    <div class="col-sm-6" align="center">
      <h2>DATOS PERSONALES</h2>
      <label style="text-align: left;">NOMBRE COMPLETO</label><br>
      <br>
      <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese el nombre" name="nombre">&nbsp;
      <input type="text" class="form-control" placeholder="Ingrese su apellido" name="apellido">

    <br>
      <br>
      <label>EMAIL</label><br><br>
      <div class="col-sm-10"><input type="email" class="form-control"  placeholder="Ingrese su correo" name="correo" ></div>
      <br>
      <br>
      <label >TELEFONO</label>
      <br>
      <input type="text" class="form-control" placeholder="Ingrese su celular" name="celular">&nbsp;
      <input type="text" class="form-control" placeholder="Ingrese su telefono convencional" name="telefono" >
      <br>
      <br>
      <br>
    </div>
    <div class="col-sm-12">
      <br>
      <br>
<h2>DATOS DE RESERVA</h2>
      <label >FECHA DE SALIDA &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;HORA</label>
      <br>
      <input type="text" class="form-control"  placeholder="DD/MM/AA">&nbsp;
      <input type="text" class="form-control"  placeholder="DD/MM/AA">

      <br>
      <br>
      <br>
      <label >FECHA DE RETORNO &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; HORA</label>
      <br>
      <input type="text" class="form-control"  placeholder="DD/MM/AA">&nbsp;
      <input type="text" class="form-contro"  placeholder="HH/MM/AA">
      <input type="text" class="form-control"  placeholder="DD/MM/AA">
    </div>
  </form>
</div>

