<div class="row">

  <form action="">
    <div class="content titulo" align="center">
      <div class="col-sm-8">
        <h1><img style="text-align: center; margin-top: 50px; margin-bottom: 50px"align="center" src="/assets/recepcion.png" alt="recepcion" height="100" width="100">&nbsp;RECEPCION DE HOTEL</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-11" align="center">
        <h5 >Reservar con nosotros es simple y fácil. Sólo complete el formulario de reserva aquí debajo y le enviaremos un email con el itinerario y los detalles de pago.
          Por favor, no olvide que debe efectuar el pago de su reserva dentro de las 24 horas de realizada la misma. </h5>
      </div>
    </div>
    <br>
    <br>

    <div class="row datos">
      <h2>DATOS PERSONALES</h2>
      <br>
      <div class="col-sm-12">
        <label style="text-align: left;">Nombre completo</label>
      </div>
      <div class="col-sm-6">
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su nombre" name="nombre">
      </div>
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Ingrese su apellido" name="apellido">
      </div>
    </div>
    <div class="row datos2">
      <div class="col-sm-12">
        <br><label>Email</label><br>
      </div>
      <div class="col-sm-8">
        <input type="email" class="form-control"  placeholder="Ingrese su correo" name="correo">
      </div>
    </div>

    <div class="row datos3">
      <div class="col-sm-8">
        <br><label >Telefono</label>
        <br>
      </div>
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Ingrese su celular" name="celular"></div>
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Ingrese su telefono convencional" name="telefono" >
      </div>
    </div>
    <div class="row reserva">

      <div class="col-sm-12">
        <h2>DATOS DE RESERVA</h2></div>
      <div class="col-sm-6">
        <label >Fecha de salida</label>
      </div>
      <div class="col-sm-6 ">
        <label >Hora</label>
      </div>
      <br>
      <div class="col-sm-6 ">
        <input type="text" class="form-control"  placeholder="DD/MM/AA"></div>
      <div class="col-sm-3">
        <input type="text" class="form-control"  placeholder="mm/hh"></div>
      <div class="col-sm-3">
        <input type="text" class="form-control"  placeholder="mm/hh"></div>
    </div>
    <div class="row reserva1">
      <div class="col-sm-6">
        <br><label >Fecha de retorno</label>
      </div>
      <div class="col-sm-6">
        <label >Hora</label>
      </div>

      <div class="col-sm-6">
        <input type="text" class="form-control"  placeholder="DD/MM/AA"></div>
      <div class="col-sm-2">
        <input type="text" class="form-control"  placeholder="mm/hh"></div>
      <div class="col-sm-2">
        <input type="text" class="form-control"  placeholder="mm/hh"></div>
    </div>
    <div class="row reserva2">
      <div class="col-sm-12">
        <br><label >Numero de huespedes/pasajeros</label>
      </div>
      <div class="col-sm-4">
        <select name="" id="">
          <option value="uno">1</option>
          <option value="dos">2</option>
          <option value="tres">3</option>
          <option value="cuatro">4</option>
          <option value="cinco">5</option>
          <option value="seis">6</option>
          <option value="siete">7</option>
          <option value="ocho">8</option>
          <option value="nueve">9</option>
          <option value="diez">10</option>

        </select>
      </div>
      <div style="padding-top: 2rem"></div>

      <div class="col-sm-12">
        <br>
        <label >Tipo de habitacion</label>
      </div>
      <div class="col-sm-3">
        <input type="radio" name="group1" value="Milk"> Economica<br>
      </div>
      <div class="col-sm-3">
        <input type="radio" name="group1" value="Milk"> Premiun<br>
      </div>
      <div class="col-sm-3">
        <input type="radio" name="group1" value="Milk"> Deluxe<br>
      </div>
      <div class="col-sm-3">
        <input type="radio" name="group1" value="Milk"> Bussiness<br>
        <br>
        <br>
      </div>
    </div>
    <br>
    <br>
  </form>
</div>

