
.datos{
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
}
.datos2{
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.datos3{
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.reserva{
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.reserva1{
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.reserva2{
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.reserva3{
  border-left: 2px solid black;
  border-right: 2px solid black;

}

