
.col-sm-6{
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.col-sm-12{
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
