<br><br>
<div class="container">

  <form action="">
    <div class="row">
      <div class="col-sm-12" align="center">
        <h2>OLVIDASTE TU CONTRASEÑA</h2>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <label> Ingrese su correo electronico o su nombre de usuario le enviaremos por correo electronico las instrucciones sobre como restablecer su contraseña</label>
      </div>

    </div>
    <br><br>
    <div class="row"  >
      <div class="col-sm-6">
        <input type="radio" name="group1" value="Milk">Correo Electronico<br>
        <input type="email" class="form-control"  placeholder="Ingrese su correo" name="correo"></div>
      <div class="col-sm-6" align="right">
        <img src="/assets/password.PNG" alt="recepcion" height="200" width="200">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <input type="radio" name="group1" value="Milk">Nombre de usuario<br>
        <input type="email" class="form-control"  placeholder="Ingrese su correo" name="correo">
      </div>
    </div>
    <br><br><br>
    <div class="row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Atras</button>
        &nbsp;&nbsp;<button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </form>




</div>

