<h1 align="center" xmlns="http://www.w3.org/1999/html">{{"Mapa"}}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat"
         [longitude]="lng"
         [zoom]="zoom"
         [disableDefaultUI]="false"
         [zoomControl]="false"
         (mapDblClick)="mapClicked($event)"
>
  <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [markerDraggable]="m.draggable"
    (dragEnd)="markerDragEnd(m, $event)"
  >
    <agm-info-window>
      <strong>{{m.name}}</strong>
      <br>
      <a  style="color: red" class="delete" (click)="removeMarker(m)">Borrar Ubicación</a>
    </agm-info-window>

  </agm-marker>
</agm-map>

<div align="center" class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 align="center" class="panel-title">Añadir Nueva Ubicación</h3>
        <br>
        <br>
      </div>
      <div class="panel-body">
        <form (submit)="addMarker()">
          <label>Nombre de la Ubicación</label>&nbsp;

          <input type="text" [(ngModel)]="markerName"  name="markerName">
          <br>
          <label>Latitud</label>&nbsp;
          <input type="text" [(ngModel)]="markerLat"  name="markerLat">
          <br>
          <label>Longitud</label>&nbsp;
          <input type="text" [(ngModel)]="markerLng"  name="markerLng">
          <br>
          <label>Arrastrable</label>&nbsp;
          <select [(ngModel)]="markerDraggable" name="markerDraggable">
            <option value="no">Sí</option>
            <option value="yes">No</option>
          </select>&nbsp;&nbsp;&nbsp;
          <input type="submit" value="Mapear">
        </form>
        <br>
        <br>
        <br>
      </div>
    </div>

  </div>
</div>
