
<div class="row">
  <div class="col-sm-7" align="center"><br><br><br><br><br><br><br><br><img src="/assets/registromercantil.jpg" height="200" width="600"></div>
  <div class="col-sm-5">
    <form >
      <div class="content titulo" align="left">
        <div class="col-sm-12">
          <h1><img style="text-align: center; margin-top: 50px; margin-bottom: 50px"align="center" src="/assets/registro.png" height="80" width="80">&nbsp;Registrarse</h1>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-sm-10">Nombre
          <br><input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su nombre" name="Nombre"></div>
      </div>
      <br>
      <div class="row">
        <br>
        <div class="col-sm-10">Apellido
          <br><input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su apellido" name="Nombre"></div>
      </div>
      <br>
      <div class="row">

        <div class="col-sm-10">Edad
          <br><input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su edad" name="edad"></div>
      </div>
      <br>
      <div class="row">
        <br>
        <div class="col-sm-10">Correo Electronico
          <br><input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su correo" name="correo"></div>
      </div>
      <br>

      <div class="row">
        <br>
        <div class="col-sm-10">Contraseña
          <br><input type="password" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su contraseña" name="correo"></div>
      </div>
      <br>

      <div class="row">
        <br>
        <div class="col-sm-10">
          <br><button type="submit" class="btn btn-primary">Registrarse</button></div>
      </div>
    </form>
  </div>
</div>

