<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>RESTABLECER SU CONTRASEÑA</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <label style="text-align: justify">Hemos enviado un correo electrónico de contraseña de reinicio a EMAIL. Haga clic en el enlace Restablecer contraseña para configurar su nueva contraseña.
      </label>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-12"></div>
    <div class="col-sm-12">
      <label>
        ¿Aún no recibiste el correo electrónico?</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <label >Please check your spam folder, or
        <a href="http://localhost:4200/forgotpass">REENVIAR</a>the email.</label>
    </div>
  </div>


</div>
