<div class="row">

  <form>
    <div class="content titulo" align="center">
      <div class="col-sm-12">
        <h1><img style="text-align: center; margin-top: 50px; margin-bottom: 50px"align="center" src="/assets/restaurante.PNG" height="80" width="80">&nbsp;RESERVA DE RESTAURANTE</h1>
      </div>
    </div>

    <div class="row" align="center">
      <div class="col-sm-12">
        <label >SI deseas realizar una reserva en nuestro restaurante, puede ponerse en contacto con nosotros por telefono, o mediante el siguiente formulario.</label>
      </div>
    </div>

    <div class="row">
      <br>
      <div class="col-sm-6">Nombre
        <br><input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su nombre" name="Nombre"></div>
    </div>
    <br><br>

    <div class="row">
      <br>
      <div class="col-sm-6">Correo Electronico
        <br><input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su correo" name="correo"></div>
    </div>
    <br><br>
    <div class="row">
      <br>
      <br>
      <div class="col-sm-6">Telefono
        <br><input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su telefono" name="Telefono"></div>
    </div>

  </form>
</div>
