<div class="row">

  <form>
    <div class="content titulo" align="center">
      <div class="col-sm-12">
        <h1><img style="text-align: center; margin-top: 50px; margin-bottom: 50px"align="center" src="/assets/restaurante.PNG" height="80" width="80">&nbsp;RESERVA DE RESTAURANTE</h1>
      </div>
    </div>

    <div class="row" align="center">
      <div class="col-sm-12">
        <label >SI deseas realizar una reserva en nuestro restaurante, puede ponerse en contacto con nosotros por telefono, o mediante el siguiente formulario.</label>
      </div>
    </div>

    <div class="row">
      <br>
      <div class="col-sm-6">Nombre
        <br><input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su nombre" name="Nombre"></div>
    </div>
    <br><br>

    <div class="row">
      <br>
      <div class="col-sm-6">Correo Electronico
        <br><input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su correo" name="correo"></div>
    </div>
    <br><br>
    <div class="row">
      <br>
      <br>
      <div class="col-sm-6">Telefono
        <br><input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su telefono" name="Telefono de contacto"></div>
    </div>
    <br>
    <br>
    <div class="row">
      <br>
      <br>
      <div class="col-sm-12">Como prefiere que le confirmemos su reserva</div>
      <br>
      <div class="col-sm-3">
        <input type="radio" name="group1" value="Milk">Por e-amail
      </div>
      <div class="col-sm-3">
        <input type="radio" name="group1" value="Milk">Por telefono
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <label >Fecha de su reserva</label>
      </div>
      <br>
      <div class="col-sm-4">
        <input type="text" class="form-control"  placeholder="DD/MM/AA"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <label >Hora de su reserva</label>
      </div>
      <br>
      <div class="col-sm-2">
        <input type="text" class="form-control"  placeholder="mm/hh"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <label >Numero de personas</label>
      </div>
      <br>
      <div class="col-sm-3">
        <input type="text" class="form-control"  placeholder="numero"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-2">
        <label >¿Que desea comer?</label>
      </div>
      <div class="col-sm-4">
        <select name="" id="">
          <option value="Menu">Menu</option>
          <option value="Plato">Plato fuerte</option>
          <option value="aun">Aun no lo se</option>
        </select>
        <br>
        <br>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <label >Observaciones y comentarios</label>
      </div>
      <br>
      <div class="col-sm-8">
        <input type="text" class="form-control"  placeholder="Observaciones y comentario" ></div>
      <br>
      <br>
      <br>
      <br>

      <br>

    </div>


  </form>
</div>

