  <html>
  <head>
  </head>
  <div class="container">
  <body>
  <div class="row">
    <div class="col-sm-12">
      <img src="/assets/album.png" alt="" align="center">
  </div>
  </div>
  <br>
<br>
  <ul id="menu">
    <li><a class="active" href="inicio">Home</a></li>
    <li><a  href="#">Lugares Turisticos</a>
      <ul>
        <li><a  href="costa">Costa</a></li>
        <li><a  href="sierra">Sierra</a></li>
        <li><a  href="oriente">Oriente</a></li>
        <li><a  href="galapagos">Galapagos</a></li>
      </ul>
    </li>
    <li><a  href="recepcion-hotel">Recepción Hotel</a></li>
    <li><a  href="recepcion-restaurante">Recepción Restaurante</a></li>
  </ul>
  <br><br>
  <div style="padding:0 16px; text-align: center">
    <br><h2>ALL YOU NEED IS ECUADOR</h2>
  </div>
  </body>
  </div>
  </html>
<router-outlet></router-outlet>


