<div class="fondo1">
  <br>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8"
         *ngFor="let usuario of imagenEcuador">
      <app-inicio
        [texto]="usuario.texto"
        [imagen]="usuario.imagen"
      >
      </app-inicio>

      <iframe width="460" height="315" src="https://www.youtube.com/embed/85MppyLJHz0"  allowfullscreen></iframe>
    </div>
    <br><br>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"
         *ngFor="let usuario of imagenContactenos">
      <app-inicio
        [imagen]="usuario.imagen">
      </app-inicio>
    </div>
    <div class="col-sm-1">
      <p class="perfiles2">E-mail</p>
      <p class="perfiles2">Comentarios</p>
    </div>

    <div class="col-sm-1.6">
      <p><textarea name="comentarios" rows="1"></textarea>
      </p>

      <p><textarea name="comentarios2" rows="5"></textarea>
      </p>
    </div>

    <div class="col-sm-1">
      <br><br><br> <br> <br> <br>
      <p class="perfiles">Enviar</p>

    </div>
    <div class="col-sm-6"></div>



  </div>

</div>

